<div ng-if="transfer.isConfirm()">
	<table>
		<thead>
			<tr>
				<th>Forrás</th>
				<th>Cél</th>
				<th>Összeg</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{transfer.transfer.source}}</td>
				<td>{{transfer.transfer.destination}}</td>
				<td>{{transfer.transfer.amount}}</td>
			</tr>
		</tbody>
	</table>

	<md-button ng-click="transfer.startTransfer()">Indítás</md-button>
</div>
<div ng-if="transfer.isTransfering()">
	Dolgozunk az ügyön, mert ilyen jók vagyunk
</div>
<div ng-if="transfer.isTransfered()">
	A pénzed már a mienk, köszönyjük
	<md-button ng-click="transfer.back()">Vissza</md-button>
</div>
