<form name="transfer" ng-submit="form.sendForm(transfer.$valid)" novalidate>
  <div layout="column">
    <md-input-container>
      <label>Forrás száma</label>
      <md-select name="account" ng-model="form.datas.source" required>
        <md-option ng-repeat="account in form.accounts" value="{{account.no}}">
          {{account.no}} | {{account.currency}} | {{account.balance}}
        </md-option>
      </md-select>
      <div ng-messages="transfer.account.$error" ng-hide="transfer.account.$valid">
        <div ng-message="required">A forrás számla megadása kötelező</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Dest</label>
      <input type="text" name="destination" ng-model="form.datas.destination" not-equal="{{form.datas.source}}" giro giro-format required>
      <div ng-messages="transfer.destination.$error">
        <div ng-message="required">A célszámla megadása kötelező</div>
        <div ng-message="notEqual">A célszámla nem egyezhet meg a forrással</div>
        <div ng-message="giro">A célszámla nem felel meg a formátumnak</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Amount</label>
      <input type="text" name="amount" ng-model="form.datas.amount" ng-pattern="/^[0-9,]+$/" number-format required>
      <div ng-messages="transfer.amount.$error">
        <div ng-message="required">Az összeg megadása kötelező</div>
        <div ng-message="pattern">Az összeg csak egész szám lehet</div>
      </div>
    </md-input-container>
    <md-input-container>
      <md-button ng-disabled="transfer.$invalid" type="submit" name="send" value="next">
        Folytatás
      </md-button>
    </md-input-container>
  </div>
</form>
