<div ng-switch on="haveAccount()" layout="row" layout-align="left center">
  <div ng-switch-when="true">
    <table>
      <thead>
        <th>Számlaszám</th>
        <th>Pénznem</th>
        <th>Egyenleg</th>
      </thead>
      <tbody>
        <tr  ng-repeat="account in user.datas.accounts">
          <td>{{account.no}}</td>
          <td>{{account.currency}}</td>
          <td>{{account.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-switch-when="false">
    <h2>Önnek nincs aktív számlája a rendszerünkben</h2>
  </div>
</div>
